<%- model_class = Apply -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:loanType) %></th>
      <th><%= model_class.human_attribute_name(:term) %></th>
      <th><%= model_class.human_attribute_name(:usePath) %></th>
      <th><%= model_class.human_attribute_name(:amount) %></th>
      <th><%= model_class.human_attribute_name(:currency) %></th>
      <th><%= model_class.human_attribute_name(:startDate) %></th>
      <th><%= model_class.human_attribute_name(:endDate) %></th>
      <th><%= model_class.human_attribute_name(:repaymentType) %></th>
      <th><%= model_class.human_attribute_name(:processor) %></th>
      <th><%= model_class.human_attribute_name(:business_partner_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @applies.each do |apply| %>
      <tr>
        <td><%= link_to apply.id, apply_path(apply) %></td>
        <td><%= apply.loanType %></td>
        <td><%= apply.term %></td>
        <td><%= apply.usePath %></td>
        <td><%= apply.amount %></td>
        <td><%= apply.currency %></td>
        <td><%= apply.startDate %></td>
        <td><%= apply.endDate %></td>
        <td><%= apply.repaymentType %></td>
        <td><%= apply.processor %></td>
        <td><%= apply.business_partner_id %></td>
        <td><%=l apply.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_apply_path(apply), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      apply_path(apply),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_apply_path,
            :class => 'btn btn-primary' %>
