<%- model_class = Apply -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:loanType) %>:</strong></dt>
  <dd><%= @apply.loanType %></dd>
  <dt><strong><%= model_class.human_attribute_name(:term) %>:</strong></dt>
  <dd><%= @apply.term %></dd>
  <dt><strong><%= model_class.human_attribute_name(:usePath) %>:</strong></dt>
  <dd><%= @apply.usePath %></dd>
  <dt><strong><%= model_class.human_attribute_name(:amount) %>:</strong></dt>
  <dd><%= @apply.amount %></dd>
  <dt><strong><%= model_class.human_attribute_name(:currency) %>:</strong></dt>
  <dd><%= @apply.currency %></dd>
  <dt><strong><%= model_class.human_attribute_name(:startDate) %>:</strong></dt>
  <dd><%= @apply.startDate %></dd>
  <dt><strong><%= model_class.human_attribute_name(:endDate) %>:</strong></dt>
  <dd><%= @apply.endDate %></dd>
  <dt><strong><%= model_class.human_attribute_name(:repaymentType) %>:</strong></dt>
  <dd><%= @apply.repaymentType %></dd>
  <dt><strong><%= model_class.human_attribute_name(:processor) %>:</strong></dt>
  <dd><%= @apply.processor %></dd>
  <dt><strong><%= model_class.human_attribute_name(:business_partner_id) %>:</strong></dt>
  <dd><%= @apply.business_partner_id %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              applies_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_apply_path(@apply), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              apply_path(@apply),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
