<%= simple_form_for @contract, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :serialID %>
  <%= f.input :contractNumber %>
  <%= f.input :term %>
  <%= f.input :usePath %>
  <%= f.input :amount %>
  <%= f.input :currency %>
  <b>借款人</b><br/><%= f.select :browser,BusinessPartner.all.map{|c| [c.name, c.id]} %>
  <%= f.input :startDate %>
  <%= f.input :endDate %>
  <%= f.input :contractPeriod %>
  <%= f.input :repaymentType %>
  <%= f.input :interest %>
  <%= f.input :defaulInt ,as: :decimal %>
  <%= f.input :credit %>
  <b>合同状态</b>
    <%= status_in_form(f) %> <span class="help-inline">1 新建状态； 2 编辑状态；3 提交状态 </span>
    <br/>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                contracts_path, :class => 'btn' %>
  </div>
<% end %>
