<ul class="nav nav-tabs">
  <li class="active"><a href="#home" data-toggle="tab">基本信息</a></li>
  <li><a href="#profile" data-toggle="tab">贷款信息</a></li>
  <li><a href="#messages" data-toggle="tab">金融条件项</a></li>
  <li><a href="#settings" data-toggle="tab">其他信息</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane fade in active" id="home">  <div class="span5">
    <%= simple_form_for set_contract(@contract), :html => { :class => 'form-horizontal' } ,:method => :put do |f| %>
        <%= f.input :serialID, :disabled => true %>
        <%= f.input :contractNumber, :disabled => true %>
        <%= f.input :term %>
        <%= f.input :usePath %>
        <%= f.input :amount %>
        <%= f.input :currency %>
        <b>借款人</b><br/><%= f.select :browser,BusinessPartner.all.map{|c| [c.name, c.id]} %>
        <%= f.input :startDate %>
        <%= f.input :endDate %>
        <%= f.input :contractPeriod %>
        <%= f.input :repaymentType %>
        <%= f.input :interest %>
        <%= f.input :defaulInt ,as: :decimal %>
        <%= f.input :credit %>
        <b>合同状态</b>
        <%= status_in_form(f) %> <span class="help-inline">1.新建状态； 2 编辑状态；3 提交状态 </span>
        <br/></div>
        </div>
  <div class="tab-pane fade" id="profile">
    <%= f.simple_fields_for :mortgage_loan do |loan_form| %>
        <%= loan_form.input :loanType,:label => "贷款类型" %>
        <%= loan_form.input :loanClass%>
        <%= loan_form.input :IPDcontrol %>
        <%= loan_form.input :disAcc , :as => :decimal%>
        <%= loan_form.input :FinProj %>
        <b>利息计算方式  </b><%= loan_form.select :interestCal, [1,2,3] %>
        <%= loan_form.input :contracCurrency, :hint => "equals @contract.currency",:disabled => true%>
        <%= loan_form.input :term, :hint => "equals @contract.term" %>
    <% end %>
  </div>

  <div class="tab-pane fade" id="messages">
    <%= f.simple_fields_for :condition do |condition| %>
        <%= condition.input :commitCapital%>
        <%= condition.input :repaymentType, :hint => "equals @contract.repaymentType"%>
        <%= condition.input :disbursementRate, :as => :decimal %>
        <%= condition.input :discountType %>
        <%= condition.input :fixedFrom %>
        <%= condition.input :fixedUntil %>
        <%= condition.input :termStart %>
        <%= condition.input :termEnd %>
    <% end %></div>
  <div class="tab-pane fade" id="settings">...</div>
</div>




  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                contracts_path, :class => 'btn' %>
  </div>

<% end %>
