<%- model_class = Contract -%>
<div class="page-header">
  <h1>合同</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th>流水号</th>
      <th>合同号</th>
      <th>期限</th>
      <th>用途</th>
      <th>贷款总额</th>
      <th>贷款币种</th>
      <th>贷款人</th>
      <th>合同生效日期</th>
      <th>合同终止日期</th>
      <th>合同期限</th>
      <th>还款方式</th>
      <th>实际利息</th>
      <th>基础利息</th>
      <th>授信</th>
      <th>合同状态</th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @contracts.each do |contract| %>
      <tr>
        <td><%= link_to contract.id, contract_path(contract) %></td>
        <td><%= contract.serialID %></td>
        <td><%= contract.contractNumber %></td>
        <td><%= contract.term %></td>
        <td><%= contract.usePath %></td>
        <td><%= contract.amount %></td>
        <td><%= contract.currency %></td>
        <td><%= contract.browser %></td>
        <td><%= contract.startDate %></td>
        <td><%= contract.endDate %></td>
        <td><%= contract.contractPeriod %></td>
        <td><%= contract.repaymentType %></td>
        <td><%= contract.interest %></td>
        <td><%= contract.defaulInt %></td>
        <td><%= contract.credit %></td>
        <td><%= contract.status %></td>
        <td><%=l contract.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_contract_path(contract), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      contract_path(contract),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "新建合同",
            new_contract_path,
            :class => 'btn btn-primary' %>
