

<%- model_class = Contract -%>

<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>
<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              contracts_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_contract_path(@contract), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              contract_path(@contract),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:serialID) %>:</strong></dt>
  <dd><%= @contract.serialID %></dd>
  <dt><strong><%= model_class.human_attribute_name(:contractNumber) %>:</strong></dt>
  <dd><%= @contract.contractNumber %></dd>
  <dt><strong><%= model_class.human_attribute_name(:term) %>:</strong></dt>
  <dd><%= @contract.term %></dd>
  <dt><strong><%= model_class.human_attribute_name(:usePath) %>:</strong></dt>
  <dd><%= @contract.usePath %></dd>
  <dt><strong><%= model_class.human_attribute_name(:amount) %>:</strong></dt>
  <dd><%= @contract.amount %></dd>
  <dt><strong><%= model_class.human_attribute_name(:currency) %>:</strong></dt>
  <dd><%= @contract.currency %></dd>
  <dt><strong><%= model_class.human_attribute_name(:browser) %>:</strong></dt>
  <dd><%= @contract.browser %></dd>
  <dt><strong><%= model_class.human_attribute_name(:startDate) %>:</strong></dt>
  <dd><%= @contract.startDate %></dd>
  <dt><strong><%= model_class.human_attribute_name(:endDate) %>:</strong></dt>
  <dd><%= @contract.endDate %></dd>
  <dt><strong><%= model_class.human_attribute_name(:contractPeriod) %>:</strong></dt>
  <dd><%= @contract.contractPeriod %></dd>
  <dt><strong><%= model_class.human_attribute_name(:repaymentType) %>:</strong></dt>
  <dd><%= @contract.repaymentType %></dd>
  <dt><strong><%= model_class.human_attribute_name(:interest) %>:</strong></dt>
  <dd><%= @contract.interest %></dd>
  <dt><strong><%= model_class.human_attribute_name(:defaulInt) %>:</strong></dt>
  <dd><%= @contract.defaulInt %></dd>
  <dt><strong><%= model_class.human_attribute_name(:credit) %>:</strong></dt>
  <dd><%= @contract.credit %></dd>
  <dt><strong><%= model_class.human_attribute_name(:status) %>:</strong></dt>
  <dd><%= @contract.status %></dd>
</dl>

<% case @contract.status %>
<%  when  1..2  %>
    <%= link_to "合同提交（待审批）",status_commit_contract_path(@contract), :class => "btn btn-primary"%>

<%  when 3  %>
    <%= link_to "审批 通过 ",approve_contract_path(@contract), :class => "btn btn-primary"%>
    <%= link_to "审批 拒绝 （不撤销）",reject_contract_path(@contract), :class => "btn btn-primary"%>
    <%= link_to "合同撤销",withdraw_contract_path(@contract), :class => "btn btn-danger"%>
<% when 4 %>
    <%= link_to "合同本金减少",reduce_contract_path(@contract), :class => "btn btn-primary"%>
    <%= link_to "合同放款",new_contract_disbursement_path(@contract), :class => "btn btn-primary"%>
    <%= link_to "合同撤销",withdraw_contract_path(@contract), :class => "btn btn-danger"%>
<%  when  6  %>
    <%= link_to "合同提交（待审批）",status_commit_contract_path(@contract), :class => "btn btn-primary"%>
<%  when  8  %>
    <%= link_to "合同重新激活",reject_contract_path(@contract), :class => "btn btn-primary"%>

<% end %>
        <!-- 点击按钮之后，更新status，并刷新页面-->
<script>

    function contract_withdraw()
    {
        alert("确定撤销么？");
    }
    function status_commit()
    {
        alert("确定提交么？（提交后将不能修改部分信息）");
    }
    function contract_approve()
    {
        alert("合同审核通过后,将进行放款流程");

    }
    function contract_reject()
    {
        alert("确定提交么？（提交后将不能修改部分信息）");
    }
</script>