<%= simple_form_for @disbursement , :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :flowType , input_html:{ value: '1'}%>
  <%= f.input :text, placeholder: 'some comments' %>
  <%= f.input :repaymentType, hint: '1 all in once; 2 annually' %>
  <%= f.input :postingControl %>
  <%= f.input :paymentDate %>
  <%= f.input :currentPayment %>
  <%= f.input :nominalPayment %>
  <%= f.input :disbursementRate %>
  <%= f.input :disbursementInt %>
  <%= f.input :grossPayAmount %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                disbursements_path, :class => 'btn' %>
  </div>
<% end %>
