<h1>Listing disbursements</h1>

<table>
  <tr>
    <th>Flowtype</th>
    <th>Text</th>
    <th>Repaymenttype</th>
    <th>Postingcontrol</th>
    <th>Paymentdate</th>
    <th>Currentpayment</th>
    <th>Nominalpayment</th>
    <th>Disbursementrate</th>
    <th>Disbursementint</th>
    <th>Grosspayamount</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @disbursements.each do |disbursement| %>
  <tr>
    <td><%= disbursement.flowType %></td>
    <td><%= disbursement.text %></td>
    <td><%= disbursement.repaymentType %></td>
    <td><%= disbursement.postingControl %></td>
    <td><%= disbursement.paymentDate %></td>
    <td><%= disbursement.currentPayment %></td>
    <td><%= disbursement.nominalPayment %></td>
    <td><%= disbursement.disbursementRate %></td>
    <td><%= disbursement.disbursementInt %></td>
    <td><%= disbursement.grossPayAmount %></td>
    <td><%= link_to 'Show', disbursement %></td>
    <td><%= link_to 'Edit', edit_disbursement_path(disbursement) %></td>
    <td><%= link_to 'Destroy', disbursement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Disbursement', new_disbursement_path %>
