<%- model_class = Disbursement -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:flowType) %></th>
      <th><%= model_class.human_attribute_name(:text) %></th>
      <th><%= model_class.human_attribute_name(:repaymentType) %></th>
      <th><%= model_class.human_attribute_name(:postingControl) %></th>
      <th><%= model_class.human_attribute_name(:paymentDate) %></th>
      <th><%= model_class.human_attribute_name(:currentPayment) %></th>
      <th><%= model_class.human_attribute_name(:nominalPayment) %></th>
      <th><%= model_class.human_attribute_name(:disbursementRate) %></th>
      <th><%= model_class.human_attribute_name(:disbursementInt) %></th>
      <th><%= model_class.human_attribute_name(:grossPayAmount) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @disbursements.each do |disbursement| %>
      <tr>
        <td><%= link_to disbursement.id, disbursement_path(disbursement) %></td>
        <td><%= disbursement.flowType %></td>
        <td><%= disbursement.text %></td>
        <td><%= disbursement.repaymentType %></td>
        <td><%= disbursement.postingControl %></td>
        <td><%= disbursement.paymentDate %></td>
        <td><%= disbursement.currentPayment %></td>
        <td><%= disbursement.nominalPayment %></td>
        <td><%= disbursement.disbursementRate %></td>
        <td><%= disbursement.disbursementInt %></td>
        <td><%= disbursement.grossPayAmount %></td>
        <td><%=l disbursement.created_at %></td>
        <td>
         <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      disbursement_path(disbursement),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_disbursement_path,
            :class => 'btn btn-primary' %>
